* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

// @mixin mobile {
//   @media (max-width: 960px) {
//     @content;
//   }
// }

main {
  section.third {
    h3 {
      padding: 1rem 0;
    }
    .gridcontainer {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: space-between;
      gap: 2rem;
      // @include mobile {
      //   grid-template-columns: repeat(1, 1fr);
      // }
      img {
        width: 100%;
      }

      a {
        padding: 0.5rem 0;
        text-decoration: none;
        color: rgb(92, 90, 90);
        text-align: left;
      }
      a:hover {
        span {
          background: linear-gradient(
            transparent 40%,
            rgba(255, 255, 255, 0) 40%,
            #fff176 90%,
            transparent 95%
          );
        }
      }
    }
    div.seeMore {
      display: flex;
      justify-content: center;
      // @include mobile {
      //   flex-direction: column;
      // }
      button {
        border: none;
        margin: 1.5rem;
        padding: 0.5rem 5rem;
        background-color: #02b1e8;
        color: white;
        border-radius: 2px;
        text-decoration: none;
        font-size: 1.2rem;
        // @include mobile {
        //   margin: 1.5rem 0;
        //   padding: 0.5rem 2rem;
        // }
      }
    }
  }
}

@media screen and (max-width: 1020px) {
  .ctr {
    padding: 0 1rem;
  }
  main {
    section.third {
      h3 {
        padding: 1rem;
      }
      .gridcontainer {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 1rem;
      }
    }

    // div.seeMore {
    //   // flex-direction: column;
    //   button {
    //     margin: 1.5rem 0;
    //     padding: 0.5rem 2rem;
    //   }
    // }
  }
}

// ipad mini寬度768px，這裡是設定ipad mini以下的條件
@media screen and (max-width: 630px) {
  main {
    section.third {
      h3 {
        padding: 1rem;
      }
      .gridcontainer {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 1rem;
      }
    }

    // div.seeMore {
    //   // flex-direction: column;
    //   button {
    //     margin: 1.5rem 0;
    //     padding: 0.5rem 2rem;
    //   }
    // }
  }
}
