* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.ctr {
  max-width: 1020px; //1020px 1230px
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header {
  flex-wrap: wrap; //網頁大小調整都不會跑版
  padding: 1rem 0;

  position: sticky;
  top: 0;
  z-index: 5;
  background-color: white;
  box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.5);

  .nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: space-around;
    text-transform: uppercase;
  }

  .nav-links {
    color: rgb(93, 88, 88);
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    font-size: 0.5rem;
  }

  .nav-links:hover {
    color: rgb(136, 134, 134);
    transition: all 0.2s ease-out;
  }
  .nav-links-mobile {
    display: none;
  }

  // 漢堡
  .menu-icon {
    display: none;
  }

  button {
    // remove default button style
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    span {
      font-size: 0.5rem;
    }
    // vertical-align: middle; //這邊是希望login signup可以上下置中，但沒有效果

    .login {
      color: rgb(93, 88, 88);
    }
  }
}

// // 寬度為960px以下時，執行(手機版)：
@media screen and (max-width: 960px) {
  header {
    padding: 1rem;
    .nav-item {
      position: relative;
    }

    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 90vh;
      position: absolute;
      top: 4.8rem;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
      justify-content: start;
    }

    .nav-menu.active {
      background: rgba(246, 246, 246);
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
      padding-top: 1rem;
    }

    .nav-links {
      text-align: center;
      padding: 1rem;
      width: 100%;
      display: table;
    }

    .nav-links:hover {
      // background-color: #fff;
      color: #02b1e8;
      border-radius: 0;
    }

    .navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
    }

    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }

    // 漢堡點開以後，Sign Up的按鈕：
    .nav-links-mobile {
      display: block;
      text-align: center;
      margin: 2rem auto;
      border-radius: 4px;
      width: 50%;
      text-decoration: none;
      font-size: 1rem;
      background-color: transparent;
      color: rgb(93, 88, 88);
      padding: 14px 20px;
      border: 1px solid rgb(93, 88, 88);
      transition: all 0.3s ease-out;
    }

    .nav-links-mobile:hover {
      background: #02b1e8;
      color: #242424;
      border: none;
      color: aliceblue;
      transition: 250ms;
    }
  }
}
