* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

@mixin mobile {
  @media (max-width: 375px) {
    // 寬度768px以內就執行這裡面的css
    @content;
  }
}

.ctr {
  max-width: 1020px; //1020px 1230px
  margin: 0 auto;
  // border: solid 1px red; // 可以看一下整體格式
  @include mobile {
    padding: 0 30px;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  flex-wrap: wrap; //網頁大小調整都不會跑版
  padding: 1rem 0;

  position: sticky;
  top: 0;
  z-index: 5;
  background-color: white;
  box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.5);

  .nav-toggle {
    font-size: 1.5rem;
    color: rgb(93, 88, 88);
    background: transparent;
    border-color: transparent;
    // transition: all 0.3s linear;
    cursor: pointer;
    display: none;
    @include mobile {
      display: flex;
    }
  }
  .nav-toggle:hover {
    color: rgb(136, 134, 134);
    // transform: rotate(90deg);
  }

  nav {
    ul {
      display: flex;
      list-style-type: none;
      justify-content: space-around;
      @include mobile {
        // display: flex;
        display: none;
        flex-direction: column;
      }
      li {
        a {
          color: rgb(93, 88, 88);
          text-transform: uppercase;
          margin: 0 1rem;
          font-size: 0.6rem;
          text-decoration: none;
          @include mobile {
            color: blue;
          }
        }
      }
    }
  }

  span {
    color: #888;
  }

  div.hdr_segment {
    button {
      // remove default button style
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
      // vertical-align: middle; //這邊是希望login signup可以上下置中，但沒有效果

      .circle {
        width: 1.2rem;
        @include mobile {
          display: none;
        }
      }

      .caret-down {
        width: 0.5rem;
        margin-right: 1rem;
        @include mobile {
          display: none;
        }
      }

      .login {
        @include mobile {
          display: none;
        }
      }
    }
  }
}
