* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

@mixin mobile {
  @media (max-width: 375px) {
    @content;
  }
}

main {
  section.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h2 {
      font-size: 2.5rem;
      margin: 3rem 0rem;
      @include mobile {
        font-size: 1.8rem;
        text-align: center;
      }
    }

    section.cards {
      display: flex;
      @include mobile {
        flex-direction: column;
      }
      div.card {
        // padding: 1rem;
        h4 {
          font-size: 1rem;
          font-weight: bolder;
          padding: 1rem 0;
        }

        p {
          font-size: 0.8rem;
        }
      }
    }

    button {
      border: none;
      margin: 1.5rem;
      padding: 0.5rem 3rem;
      background-color: #02b1e8;
      color: white;
      border-radius: 2px;
      text-decoration: none;
      font-size: 1.2rem;
      @include mobile {
        margin: 1.5rem 0;
        padding: 0.5rem 2rem;
      }
    }
  }
}
